@use "colors.scss" as *;

.wrapper {
  width: 100%;
  max-width: 120em;
  margin: 0 auto;
}

.btn {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  padding: 0.5em 1em;
  background-color: transparent;
  font-weight: bold;
  text-decoration: none;
  color: $white;
  border: 1px solid $secondary-color;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: $secondary-color;
  }
}

.second-btn {
  font-size: 2.6rem;
  padding: 0.5em 1em;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-decoration: none;
  background-color: $orange;
  color: $dark;
  border: 0.1em solid $secondary-color;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.4s, border 0.4s, color 0.4s;

  &:hover {
    background-color: $secondary-color;
    color: $white;
  }
}

.menu-heading {
  position: relative;
  margin-bottom: 1.5em;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: $dark;
}

.section-padding {
  padding: 2em 2em;
}

.section-heading {
  position: relative;
  margin-bottom: 0.6em;
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
  color: $dark;
  letter-spacing: 2px;
}
