@use "colors.scss" as *;
@use "components.scss" as *;
@use "mixins.scss" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

//NAV

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 100;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8em;
    padding: 0.5em;
    margin: 0 1em;
  }

  &__logo {
    font-size: 3.5rem;
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
    a {
      color: $white;
      text-decoration: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    position: absolute;
    top: 8em;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.95;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path 0.2s linear;

    &--active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    &-item {
      display: block;
      font-size: 1.9rem;
      padding: 1em 0;

      a {
        position: relative;
        color: $white;
        text-decoration: none;
        transition: color 0.2s;

        &::before {
          content: "";
          position: absolute;
          bottom: -0.5em;
          height: 0.1em;
          width: 100%;
          transform: scaleX(0);
          transition: transform 0.3s;
          background-color: $secondary-color;
        }

        &:hover::before {
          transform: scaleX(1);
        }

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }

  &__burger-icon {
    padding: 0.5em;
    font-size: 3rem;
    color: $secondary-color;
    background: none;
    border: none;
    cursor: pointer;
  }
}

// HEADER

.header {
  position: relative;
  background-image: url("../img/cofee.jpg");
  background-size: cover;
  background-position: 47%;
  padding-top: 8em;
  height: 100%;
  z-index: 0;
  &::before {
    content: " ";
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__text {
    backdrop-filter: blur(5px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 80px);
    padding: 1.5em;
    color: $white;
    text-align: left;

    h1 {
      font-size: 8rem;
      font-family: "Cormorant Garamond", serif;
      font-weight: 500;
      margin-bottom: 0.2em;
    }

    p {
      font-size: 2.3rem;
      line-height: 1.6em;
      margin-bottom: 1em;
    }

    span {
      color: $secondary-color;
    }
  }
}

//MENU

.menu {
  &__box {
    display: flex;
    flex-direction: column;
  }
  &__white {
    background-color: #f6f1ee;

    h2 {
      font-size: 7rem;
      font-family: "Cormorant Garamond", serif;
      font-weight: 700;
      text-transform: none;
      margin-bottom: 0.5em;
    }

    .btn {
      display: flex;
      background-color: $secondary-color;
      justify-content: center;
    }
  }
  &__cup {
    width: 70%;
    padding: 0 0 4em 0;
  }
  &__blue {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #2f2721;
    margin: 10em 0;
    padding: 2em 2em 2em 2em;
    p {
      font-size: 2rem;
      text-align: center;
      color: $white;
    }
  }
}

//VOUCHER

.voucher__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 0.5em solid $dark;
  margin: 0 1em;

  &-gift {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      text-align: center;
      font-size: 7rem;
      font-family: "Cormorant Garamond", serif;
      font-weight: 300;
      text-transform: none;
      margin-bottom: 0.5em;
    }

    p {
      text-align: center;
      margin: 2em 0;
      font-size: 1.6rem;
    }
  }
  &-logo {
    &-circle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #2f2721;
      width: 23em;
      height: 23em;
      margin: 0 auto;
      margin-bottom: 2em;
      border-radius: 50%;
      border: 0.2em solid $secondary-color;

      h2 {
        color: $white;
        font-size: 8rem;
      }
    }
  }
}

//ABOUT
.about-us {
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $gray;
  }
  h2 {
    font-size: 5rem;
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
  }
  p {
    font-size: 1.6rem;
    padding: 1em 0;
  }
}

//REVIEWS

.reviews {
  font-family: "Cormorant Garamond", serif;
  h2 {
    text-transform: none;
    font-size: 5rem;
    font-weight: 700;
  }
  &__box {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    background-color: #2f2721;

    &-img {
      img {
        padding: 4em 0 2em 0;
        width: 90%;
      }
    }
    &-list {
      &-review {
        color: white;
        padding: 1em;

        h3 {
          font-size: 4rem;
        }
        p {
          font-size: 1.6rem;
          font-weight: light;
        }
      }
    }
  }
}

//schedule
.schedule {
  h2 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    text-transform: none;
    font-size: 5rem;
  }
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &-item {
      background-color: #2f2721;
      width: 90%;
      padding: 2em 0;
      margin: 2em 0;
      box-shadow: 7px 7px 8px -2px rgba(66, 68, 90, 1);
      p {
        color: $white;
        font-size: 2.6rem;
      }
    }
  }
}
// BRANCHES

.branches {
  h2 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    text-transform: none;
    font-size: 5rem;
  }
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-item {
      background-color: #2f2721;
      font-family: "Roboto", sans-serif;
      color: white;
      width: 85%;
      margin: 0 0 3em 0;
      box-shadow: 7px 7px 8px -2px rgba(66, 68, 90, 1);

      img {
        width: 100%;
      }

      h3 {
        position: relative;
        display: inline-block;
        background-color: $secondary-color;
        font-size: 2.6rem;
        margin: 0.5em 0;
        padding: 0.2em 1em;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;

        &::before {
          content: "";
          position: absolute;
          left: -7px;
          top: 0;
          width: 12px;
          height: 50px;
          border-top-right-radius: 12px;
          border-top-left-radius: 12px;
          border-bottom-left-radius: 12px;
          background-color: $secondary-color;
        }
      }
      p {
        text-align: center;
        font-size: 1.8rem;
        margin: 0 auto;
        margin-top: 2em;
        margin-bottom: 2em;
        // padding: 2em 1em;
        width: 90%;
        background-color: transparent;
      }
    }
  }
}

//CONTANT
.contact {
  position: relative;
  background-color: $gray;
  overflow: hidden;

  h2 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    text-transform: none;
    font-size: 5rem;
  }

  &__form,
  &__form-top {
    display: flex;
    flex-direction: column;
  }
  &__form-label {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }
  &__form-input {
    margin-bottom: 2em;
    padding: 0.6em 1.2em;
    border: none;
    border-radius: 8px;
    font-size: 1.6rem;
  }
  &__form-textarea {
    margin-bottom: 2em;
    padding: 0.6em 1.2em;
    border: none;
    border-radius: 8px;
    font-size: 1.6rem;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    min-height: 150px;
  }
  .btn {
    background-color: $secondary-color;
  }
}

//Footer
.footer {
  color: $white;
  background-color: #2f2721;

  .wrapper {
    padding: 6em 2em 2em;
  }

  &__box {
    font-size: 1.4rem;

    &-desktop {
      display: none;
    }

    &-title {
      margin-bottom: 1em;
      font-size: 3rem;
      text-transform: uppercase;
    }

    &-social {
      margin: 2em 0 1em;
    }
    &-link {
      padding: 0 0.3em;
      color: $white;
      font-size: 3.6rem;
      text-decoration: none;
      transition: color 0.3s;

      &:first-child {
        padding-left: 0;
      }

      &:hover {
        color: $gray;
      }
    }
  }
  &__bottom-text {
    padding: 1em;
    text-align: center;
  }
}

//MEDIA

@media (min-width: 768px) {
  .navbar {
    position: absolute;

    &__nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
      margin: 0 2em;
    }

    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: static;
      width: 70%;
      background-color: transparent;
      opacity: 0.95;
      clip-path: none;
    }
    &__burger-icon {
      display: none;
    }
  }

  .header {
    &__text {
      backdrop-filter: none;
      padding: 3em;

      h1 {
        font-size: 10rem;
      }

      p {
        width: 60%;
      }
    }
  }

  .menu {
    &__box {
      align-items: center;
    }

    &__blue {
      width: 70%;
      margin: 5em 0;
    }
  }

  .voucher__box {
    flex-direction: row;

    &-gift {
      width: 50%;
      padding-left: 1em;

      p {
        font-size: 1.8rem;
      }
    }
    &-logo {
      width: 50%;
    }
  }

  //ABOUT
  .about-us {
    h2 {
      font-size: 6rem;
    }
    p {
      font-size: 1.9rem;
      padding: 1em 2em;
    }
    p:last-child {
      padding-bottom: 3em;
    }
  }

  //REVIEWS

  .reviews {
    &__box {
      flex-direction: row;

      &-img {
        width: 45%;
        img {
          width: 80%;
          max-width: 600px;
        }
      }
      &-list {
        width: 50%;
        &-review {
          padding: 4em 0;
          p {
            font-size: 2.2rem;
          }
        }
      }
    }
  }
  //schedule
  .schedule {
    &__box {
      &-item {
        width: 60%;
        padding: 5em 0;
        p {
          font-size: 3.4rem;
        }
      }
    }
  }
  // BRANCHES

  .branches {
    &__box {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      flex-basis: 30%;
      align-items: stretch;

      &-item {
        width: 30%;
        margin: 1em 2em;
      }
    }
  }

  //CONTANT
  .contact {
    .btn {
      width: 20%;
    }
  }

  .footer {
    &__boxes {
      display: flex;
      justify-content: space-between;
    }
    &__box-desktop {
      display: block;
    }

    &__box {
      margin: 0 2em;
      width: 25%;

      &:first-child {
        width: 50%;
      }
    }
    &__box-title {
      font-size: 2.4rem;
    }
    &__box-list {
      list-style: none;
    }
    &__box-list-item {
      margin-bottom: 1em;

      a {
        color: $white;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 992px) {
  .menu {
    padding: 0;
    &__box {
      position: relative;
      display: flex;
      flex-direction: row;
      height: 55vh;
    }
    &__box:nth-child(2n) {
      display: flex;
      flex-direction: row-reverse;
    }
    &__white {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      height: 100%;
      h2 {
        font-weight: 700;
        text-align: left;
        font-size: 8rem;
        text-align: center;
        width: 40%;
        margin-left: 0.5em;
      }

      .btn {
        text-align: center;
        width: 40%;
        margin-left: 1.5em;
      }
    }
    &__cup {
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 25%;
      padding: 0;
    }
    &__blue {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      background: #2f2721;
      // padding: 2em 1em;

      p {
        font-size: 2.2rem;
        width: 70%;
        text-align: center;
        color: $white;
      }
    }
    .menu__box:nth-child(2n) {
      .menu__white {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        h2 {
          text-align: right;
          font-size: 8rem;
          text-align: center;
          width: 40%;
          margin: 0.5em 0.5em;
        }
        .btn {
          margin: 0 1.5em;
        }
      }

      .menu__blue {
        display: flex;
        flex-direction: row;

        p {
          font-size: 2.2rem;
          width: 70%;
          text-align: center;
          color: $white;
        }
      }
    }
  }
}
